@import 'null';
@import 'fonts';
@import 'vars';;

* {
    margin: 0;
    padding: 0;
    @include light;
    @include text-style;
}

.section {
    margin: 100px 165px;
}

.section-title{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    @include bold;
    font-size: 36px;
    letter-spacing: 0.1em;
    color: $grey-color;
    text-transform: uppercase;
}

.link {
    color: black;
    @include bold;
    line-height: 1.5;
    text-transform: uppercase;
    text-decoration: underline;
    transition: all .3s ease;

    &:hover{
        color:$grey-color;
        opacity: .8;
    }

    &-img{
        margin-left: 10px;
        width: 20px;
    }
}

.menu {
    display: flex;
    align-items: center;
    background-color: $background-color;

    &-logo {
        display: block;
    }

    &-links{
        &_list{
            display: flex;
            margin: 0;
            padding: 0;
        }

        &_link {
            padding: 10px 20px;
            margin: 0 50px;
            
            a {
                color: $grey-color;
                opacity: 0.6;
            }

            a:after {
                display: block;
                content: "";
                height: 1px;
                width: 0%;
                margin-top: 4px;
                opacity: 0.4;
                background-color: $grey-color;
                transition: width .8s ease-in-out;
            }

            a:hover:after {
                width: 100%;
            }

            .tel{
                color: black;
                @include bold;
            }
        }

        .phone {
            margin-left: 85px;
            letter-spacing: 1px;
            opacity: 1;
        }
    }
}

/* main screen */

.main {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: $background-color;
    padding-left: 165px;
    margin: 0;

    .main-left-col {
        flex-basis: 50%;
        display: flex;
        flex-direction: column;

        h1 {
            font-size: 48px;
            @include bold;
            margin: 30% 0 30px;
        }

        .small-text {
            color: $grey-color;
            opacity: .6;
            margin-bottom: 40px;
        }

        .social {
            margin-top: 20%;
            color: $grey-color;
            opacity: .2;
            transition: all .3s ease;
        }

        .social:hover {
            opacity: .5;
        }
    }

    .main-right-col {
        flex-basis: 50%;

        img {
            margin: -80px 0 0;
            width: 100%;
        }
    }
}


.portfolio {
    margin-top: 200px;
    position: relative;

    .leave_1{
        position: absolute;
        top: -3%;
        left: 3%;
    }

    .leave_2{
        position: absolute;
        top: -7%;
        right: 15%;
    }

    .leave_3{
        position: absolute;
        top: 10%;
        right: -8%;
    }

    h2{
        margin-bottom: 23%;
    }
    
    &__block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    } 

    &__works {
        &-tag {
            font-size: 14px;
            font-weight: 300;
            color: #636363;
            margin-bottom: 8px;
            cursor: pointer;

            &:hover{
                opacity: .7;
            }
        }

        &-text {
            @include bold;
        }

        &-img {
            transition: all .7s ease;
            margin-bottom: 10px;
            cursor: pointer;

            &:hover{
                transform: scale(1.02);
            }
        }
    }

    .work1 {
        display: flex;
        flex-direction: column;
        flex-basis: 25%;
        width: 100%;
    }

    .work2 {
        position: absolute;
        left: 41%;
        top: -25%;
    }

    .work3 {
        position: absolute;
        left: 41%;
        top: 45%;
    }

    .work4 {
        display: flex;
        flex-direction: column;
        flex-basis: 25%;
        width: 100%;
    }
}

.portfolio-link {
    display: flex;
    margin-top: 200px;
    height: 500px;
    position: relative;

    .leave_4{
        position: absolute;
        top: 20%;
        right: 8%;
    }
    

    &-left-col {
        flex-basis: 50%;
        position: relative;

        &__back {
            position: absolute;
            top: 0;
            left: 0;
        }

        &__img {
            position: absolute;
            left: 0;
            top: 90px;
            z-index: 2;
        }
    }

    &-right-col {
        flex-basis: 50%;
        position: relative;

        
        &-border {
            position: absolute;
            left: -40%;
            top: 40px;
        }

        &__description{
            position: absolute;
            left: -10%;
            top: 190px;
            width: 300px;

            &-title {
                @include bold;
                font-size: 22px;
                margin-bottom: 15px;
            }

            &-text {
                color: $grey-color;
                margin-bottom: 15px;
            }
        }
    }
}

.about{
    margin-top: 200px;
    position: relative;

    &__back-img{
        position: absolute;
        z-index: -1;
        top: 31%;
        left: 40%;
    }
    
    &__main {
        display: flex;

        &__first-img {
            height: 100%;
            margin-right: 55px;
        }
        
        &__second-img {
            height: 100%;
            margin-right: 55px;
            margin-top: 55px;
        }

        &__description{
            width: 330px;
            margin-top: 170px;

            p {
                margin-bottom: 18px;
            }

            &-bold{
                @include bold;
            }

            &-link {
                color: $grey-color;
            }
        }
    }
}

.cost {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 200px;

    .leave_5{
        position: absolute;
        top: -2%;
        left: 0%;
    }

    .leave_6{
        position: absolute;
        top: -6%;
        right: 17%;
    }

    &__back {
        z-index: -1;
        position: absolute;
        top: 40%;
        left: 20%;
    }
    
    &-columns{
        display: flex;
        flex-wrap: wrap;
        text-align: center;

        &__left-column{
            margin-top: 200px;
        }

        &__center-column{
            margin: 0 5%;
        }

        &__right-column{
            margin-top: 250px;
        }

        &-info{
            font-size: 25px;
            @include bold;
            color: #8eb574;
            margin: 10px 0;

            &__small-text {
                margin-left: 40%;
                color: #8eb574;
            }
        }

        &-text{
            line-height: 1.5;
            margin-top: 20px;
            font-size: 17px;
        }
    }
}

.footer {
    margin-top: 200px;
    position: relative;

    .leave_7{
        position: absolute;
        top: -6%;
        left: 0%;
    }

    .leave_8{
        position: absolute;
        top: -80%;
        right: 4%;
    }

    &__links{
        display: flex;

        &-link{
            margin: auto;
            @include bold;

            a{
                transition: all .3s ease;
                &:hover{
                    opacity: .8;
                }
            }
        }

        &-slash{
            color:  #8eb574;
            @include bold;
            font-size: 20px;
        }
    }

    &__icons{
        display: flex;
        justify-content: center;
        margin-top: 80px;

        &-icon{
            margin-right: 20px;
            cursor: pointer;
            transition: all .3s ease;

            &:hover{
                opacity: .8;
            }
        }
    }
}

@import 'media';