* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

@font-face {
  font-family: 'Source Serif Pro';
  src: url("../../fonts/Sourceserifpro.woff") format("woff"), url("../../fonts/Sourceserifpro.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Source Serif Pro Bold';
  src: url("../../fonts/Sourceserifprosemibold.woff") format("woff"), url("../../fonts/Sourceserifprosemibold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

* {
  margin: 0;
  padding: 0;
  font-family: 'Source Serif Pro' , sans-serif;
  font-size: 18px;
  line-height: 1.2;
  color: #212021; }

.section {
  margin: 100px 165px; }

.section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 100px;
  font-family: 'Source Serif Pro Bold', sans-serif;
  font-size: 36px;
  letter-spacing: 0.1em;
  color: #212021;
  text-transform: uppercase; }

.link {
  color: black;
  font-family: 'Source Serif Pro Bold', sans-serif;
  line-height: 1.5;
  text-transform: uppercase;
  text-decoration: underline;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }
  .link:hover {
    color: #212021;
    opacity: .8; }
  .link-img {
    margin-left: 10px;
    width: 20px; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f8f8f8; }
  .menu-logo {
    display: block; }
  .menu-links_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0; }
  .menu-links_link {
    padding: 10px 20px;
    margin: 0 50px; }
    .menu-links_link a {
      color: #212021;
      opacity: 0.6; }
    .menu-links_link a:after {
      display: block;
      content: "";
      height: 1px;
      width: 0%;
      margin-top: 4px;
      opacity: 0.4;
      background-color: #212021;
      -webkit-transition: width .8s ease-in-out;
      -o-transition: width .8s ease-in-out;
      transition: width .8s ease-in-out; }
    .menu-links_link a:hover:after {
      width: 100%; }
    .menu-links_link .tel {
      color: black;
      font-family: 'Source Serif Pro Bold', sans-serif; }
  .menu-links .phone {
    margin-left: 85px;
    letter-spacing: 1px;
    opacity: 1; }

/* main screen */
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #f8f8f8;
  padding-left: 165px;
  margin: 0; }
  .main .main-left-col {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .main .main-left-col h1 {
      font-size: 48px;
      font-family: 'Source Serif Pro Bold', sans-serif;
      margin: 30% 0 30px; }
    .main .main-left-col .small-text {
      color: #212021;
      opacity: .6;
      margin-bottom: 40px; }
    .main .main-left-col .social {
      margin-top: 20%;
      color: #212021;
      opacity: .2;
      -webkit-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease; }
    .main .main-left-col .social:hover {
      opacity: .5; }
  .main .main-right-col {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%; }
    .main .main-right-col img {
      margin: -80px 0 0;
      width: 100%; }

.portfolio {
  margin-top: 200px;
  position: relative; }
  .portfolio .leave_1 {
    position: absolute;
    top: -3%;
    left: 3%; }
  .portfolio .leave_2 {
    position: absolute;
    top: -7%;
    right: 15%; }
  .portfolio .leave_3 {
    position: absolute;
    top: 10%;
    right: -8%; }
  .portfolio h2 {
    margin-bottom: 23%; }
  .portfolio__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative; }
  .portfolio__works-tag {
    font-size: 14px;
    font-weight: 300;
    color: #636363;
    margin-bottom: 8px;
    cursor: pointer; }
    .portfolio__works-tag:hover {
      opacity: .7; }
  .portfolio__works-text {
    font-family: 'Source Serif Pro Bold', sans-serif; }
  .portfolio__works-img {
    -webkit-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
    margin-bottom: 10px;
    cursor: pointer; }
    .portfolio__works-img:hover {
      -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
      transform: scale(1.02); }
  .portfolio .work1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    width: 100%; }
  .portfolio .work2 {
    position: absolute;
    left: 41%;
    top: -25%; }
  .portfolio .work3 {
    position: absolute;
    left: 41%;
    top: 45%; }
  .portfolio .work4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    width: 100%; }

.portfolio-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 200px;
  height: 500px;
  position: relative; }
  .portfolio-link .leave_4 {
    position: absolute;
    top: 20%;
    right: 8%; }
  .portfolio-link-left-col {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    position: relative; }
    .portfolio-link-left-col__back {
      position: absolute;
      top: 0;
      left: 0; }
    .portfolio-link-left-col__img {
      position: absolute;
      left: 0;
      top: 90px;
      z-index: 2; }
  .portfolio-link-right-col {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    position: relative; }
    .portfolio-link-right-col-border {
      position: absolute;
      left: -40%;
      top: 40px; }
    .portfolio-link-right-col__description {
      position: absolute;
      left: -10%;
      top: 190px;
      width: 300px; }
      .portfolio-link-right-col__description-title {
        font-family: 'Source Serif Pro Bold', sans-serif;
        font-size: 22px;
        margin-bottom: 15px; }
      .portfolio-link-right-col__description-text {
        color: #212021;
        margin-bottom: 15px; }

.about {
  margin-top: 200px;
  position: relative; }
  .about__back-img {
    position: absolute;
    z-index: -1;
    top: 31%;
    left: 50%; }
  .about__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .about__main__first-img {
      height: 100%;
      margin-right: 55px; }
    .about__main__second-img {
      height: 100%;
      margin-right: 55px;
      margin-top: 55px; }
    .about__main__description {
      width: 330px;
      margin-top: 170px; }
      .about__main__description p {
        margin-bottom: 18px; }
      .about__main__description-bold {
        font-family: 'Source Serif Pro Bold', sans-serif; }
      .about__main__description-link {
        color: #212021; }

.cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  margin-top: 200px; }
  .cost .leave_5 {
    position: absolute;
    top: -2%;
    left: 0%; }
  .cost .leave_6 {
    position: absolute;
    top: -6%;
    right: 17%; }
  .cost__back {
    z-index: -1;
    position: absolute;
    top: 40%;
    left: 20%; }
  .cost-columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .cost-columns__left-column {
      margin-top: 200px; }
    .cost-columns__center-column {
      margin: 0 5%; }
    .cost-columns__right-column {
      margin-top: 250px; }
    .cost-columns-info {
      font-size: 25px;
      font-family: 'Source Serif Pro Bold', sans-serif;
      color: #8eb574;
      margin: 10px 0; }
      .cost-columns-info__small-text {
        margin-left: 40%;
        color: #8eb574; }
    .cost-columns-text {
      line-height: 1.5;
      margin-top: 20px;
      font-size: 17px; }

.footer {
  margin-top: 200px;
  position: relative; }
  .footer .leave_7 {
    position: absolute;
    top: -6%;
    left: 0%; }
  .footer .leave_8 {
    position: absolute;
    top: -80%;
    right: 4%; }
  .footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .footer__links-link {
      margin: auto;
      font-family: 'Source Serif Pro Bold', sans-serif; }
      .footer__links-link a {
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease; }
        .footer__links-link a:hover {
          opacity: .8; }
    .footer__links-slash {
      color: #8eb574;
      font-family: 'Source Serif Pro Bold', sans-serif;
      font-size: 20px; }
  .footer__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 80px; }
    .footer__icons-icon {
      margin-right: 20px;
      cursor: pointer;
      -webkit-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease; }
      .footer__icons-icon:hover {
        opacity: .8; }

@media screen and (min-width: 1550px) {
  .portfolio-link {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: 15%; }
    .portfolio-link-left-col__back {
      display: none; }
    .portfolio-link-right-col-border {
      display: none; } }
